# db postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=urban_data
DB_USER=postgres
DB_PASSWORD=postgres

# db mongo
DB_HOST_MONGODB=localhost
DB_PORT_MONGODB=27017
DB_NAME_MONGODB=urban_data
DB_USER_MONGODB=root
DB_PASSWORD_MONGODB=postgres