# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Environnement Virtuel ---
.venv/
venv/
ENV/
env/

# --- Variables d'Environnement (Sécurité) ---
.env
url.env
*.env
!*.env.example

# --- Données (Data Lakehouse) ---
# On ignore les données téléchargées en local pour ne pas saturer Git
data/
../data/
*.zip
*.7z
*.csv
*.parquet
*.json

# --- Docker ---
.docker/
# Si tu ne veux pas versionner les données persistantes de Postgres :
postgres_data/

# --- IDE (VS Code, PyCharm) ---
.vscode/
.idea/
*.swp
*.swo

# --- OS ---
.DS_Store
Thumbs.db
# -- DATA --
/data/
